*{padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: 100px;
}

#buttons{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#buttons button{
    width: 300px;
    height: 100px;
    font-size: 30px;
    margin: 5px;
    background-color: darkslategray;
    color: antiquewhite;
}

#info{
    height: 100px;
    display: flex;
}

#board{
    border: 1px solid black;
}

.row{
    display: flex;
}

.field{
    background-color: gray;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
}

.bomb{
    background-color: red;
}

.empty{
    background-color: green;
}

.flag{
    background-color: gold;
}

#info #time, #info #flags{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: aliceblue;
}